.contentContainer {
    overflow: scroll;
    background: #DEB886;
    width: 80%;
    min-height: 70%;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 0 40px 0 40px / 0 40px 0 40px;
}

.contentContainer:hover,
.contentContainer:focus {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 40px 0px 40px 0px;
}


.contentContainer::-webkit-scrollbar {
    display: none;
    background: #ffffff;
    padding: 24px;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("https://media.istockphoto.com/photos/wood-texture-table-top-with-blur-light-gold-bokeh-in-caferestaurant-picture-id1129661826?b=1&k=6&m=1129661826&s=170667a&w=0&h=s8LNIbmo9-rLV60-JbNp1OE42dhD2D4Z_FsSvRruCTw=");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    image-rendering: crisp-edges;
}

.childContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (max-width: 480px) {
    .contentContainer {
        width: 85%;
        min-height: 90%;
    }
}
