@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.ant-typography {
  font-weight: 200;
  font-size: 20px;
  font-family: "Apple Chancery", cursive;
}
.ant-layout-content Content_childContainer___fPo- {
  height: 100%;
}

.ant-radio-group {
  margin-bottom: 24px;
  font-weight: 200;
  font-size: 20px;
  font-family: "Apple Chancery", cursive;}

.forwardBtn {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  width: 50%;
  float: right;

  /*right: 0;*/
  /*bottom: 0;*/
}

/*Metal Awareness*/
.metalLists {
  display: flex;
  align-items: center;
  width: 80px;
  line-height: 30px;
}

.mental {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mealMenuSpan > span.ant-radio + *,
.snack > span.ant-radio + *{
  white-space: pre-wrap;
}

#noWrap {
  white-space: inherit;
}

.ant-btn-icon-only {
  /*position: fixed;*/
  /*bottom: 50px;*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 480px) {
  .ant-steps-horizontal.ant-steps-label-horizontal {
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
     flex-direction: row;
  }

  .musicImg {
    width: 70%;
    height: 200px;
  }

  .ant-radio-wrapper {
    font-size: 12px;
  }

  .mental {
    align-items: flex-start;
  }

  /*.Content_contentContainer__6EAQC {*/
  /*  width: 90%;*/
  /*  min-height: 90%;*/
  /*}*/
}
